@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h3>Our Story</h3>
<p class="text-justify">
    Ice Creame Parlour was the first organization to bring up the idea of in house production of ice cream in Auckland, New Zealand in 2007. Since Inception, our constant emphasis on quality consciousness and innovating with new flavors has delighted the taste buds of many customers. Our presence in Auckland,New Zealand has been adding wholesome goodness to the lives of thousands since decade.
    Since its launch in 2007, we are growing as a manufacturer as well as a supplier. We are equipped with all sort of modern and high – tech machineries to ensure a high standard production.  We have our own fully functional supply unit to support timely stock delivery. In a span of only few years, our family has grown by 20 District Dealers, increased number of moving push carts, satisfied company employees and thousands of retailer counters.
</p>
<h3>
    Our Vision
</h3>
<p  class="text-justify">
    To make Ice Creame Parlour the first choice of the customers of all age, by setting high standards in taste, service delivery and price.
    We believe in producing and selling products that are safe & healthy for human consumption, in a manner that demonstrates greatest concern for health & safety of all life forms and for safety and sustainability of nature and our environment.

</p>
<h3>
    Our Mission
</h3>
<p  class="text-justify">
    So much business is based on the belief that we should do whatever we can within legal limits to make as much money as we can. Ben & Jerry's was based on values, and we try to operate a business that not just sells ice cream but partners with all our stakeholders - whether that's suppliers or customers - to bring about a more sustainable world.
</p>
