@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p class="text-justify">
            Ice Creame Parlour was the first organization to bring up the idea of in house production of ice cream in auckland New Zealand in 2007. Since Inception, our constant emphasis on quality consciousness and innovating with new flavors has delighted the taste buds of many customers. Our presence in world has been adding wholesome goodness to the lives of thousands since decade.
            Since its launch in 2007, we are growing as a manufacturer as well as a supplier. We are equipped with all sort of modern and high – tech machineries to ensure a high standard production.
            <a class="text-dark" asp-area="" asp-controller="Home" asp-action="About">read more...</a>
        </p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/pic1.jpg">
                        <img src="~/images/pic1.jpg" alt="Pic 1" style="width:100%">
                        <div class="caption">
                            <p>Delicious Sunday</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/pic2.jpg">
                        <img src="~/images/pic2.jpg" alt="Pic 2" style="width:100%">
                        <div class="caption">
                            <p>Ice Cream Variety</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/pic3.jpg">
                        <img src="~/images/pic3.jpg" alt="Pic 3" style="width:100%">
                        <div class="caption">
                            <p>Special Cone Ice Cream</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
